# Godot 4+ specific ignores
/.godot/
.godot/editor/
Sprites/Tileset Sprites/sprJungle01.png
Sprites/Tileset Sprites/sprTown01.png
Sprites/Tilset Sprites/Autumn Hills
Sprites/Tilset Sprites/Grasslands
Sprites/Tileset Sprites/AutumnHills/16x3/$AutomnHills_Bubble.png
Sprites/Tileset Sprites/AutumnHills/16x3/$AutomnHills_Bubble.png.import
Sprites/Tileset Sprites/AutumnHills/16x3/$AutomnHills_CampFire.png
Sprites/Tileset Sprites/AutumnHills/16x3/$AutomnHills_CampFire.png.import
Sprites/Tileset Sprites/AutumnHills/16x3/$AutomnHills_Candle1.png
Sprites/Tileset Sprites/AutumnHills/16x3/$AutomnHills_Candle1.png.import
Sprites/Tileset Sprites/AutumnHills/16x3/$AutomnHills_Candle2.png
Sprites/Tileset Sprites/AutumnHills/16x3/$AutomnHills_Candle2.png.import
Sprites/Tileset Sprites/AutumnHills/16x3/$AutomnHills_Candle3.png
Sprites/Tileset Sprites/AutumnHills/16x3/$AutomnHills_Candle3.png.import
Sprites/Tileset Sprites/AutumnHills/16x3/$AutomnHills_Lamp.png
Sprites/Tileset Sprites/AutumnHills/16x3/$AutomnHills_Lamp.png.import
Sprites/Tileset Sprites/AutumnHills/16x3/$AutomnHills_Pumkin.png
Sprites/Tileset Sprites/AutumnHills/16x3/$AutomnHills_Pumkin.png.import
Sprites/Tileset Sprites/AutumnHills/16x3/AutomnHills_HugeProps.png
Sprites/Tileset Sprites/AutumnHills/16x3/AutomnHills_HugeProps.png.import
Sprites/Tileset Sprites/AutumnHills/16x3/AutomnHills_Props.png
Sprites/Tileset Sprites/AutumnHills/16x3/AutomnHills_Props.png.import
Sprites/Tileset Sprites/AutumnHills/16x3/AutomnHills_Textures.png
Sprites/Tileset Sprites/AutumnHills/16x3/AutomnHills_Textures.png.import
Sprites/Tileset Sprites/Grasslands/16x3/$Candle.png
Sprites/Tileset Sprites/Grasslands/16x3/$Candle.png.import
Sprites/Tileset Sprites/Grasslands/16x3/$Chimney.png
Sprites/Tileset Sprites/Grasslands/16x3/$Chimney.png.import
Sprites/Tileset Sprites/Grasslands/16x3/animations/FireHit01.png
Sprites/Tileset Sprites/Grasslands/16x3/animations/FireHit01.png.import
Sprites/Tileset Sprites/Grasslands/16x3/animations/HammerHit01.png
Sprites/Tileset Sprites/Grasslands/16x3/animations/HammerHit01.png.import
Sprites/Tileset Sprites/Grasslands/16x3/animations/Heal01.png
Sprites/Tileset Sprites/Grasslands/16x3/animations/Heal01.png.import
Sprites/Tileset Sprites/Grasslands/16x3/animations/Hit01.png
Sprites/Tileset Sprites/Grasslands/16x3/animations/Hit01.png.import
Sprites/Tileset Sprites/Grasslands/16x3/animations/MonsterBite01.png
Sprites/Tileset Sprites/Grasslands/16x3/animations/MonsterBite01.png.import
Sprites/Tileset Sprites/Grasslands/16x3/animations/SavePoint.png
Sprites/Tileset Sprites/Grasslands/16x3/animations/SavePoint.png.import
Sprites/Tileset Sprites/Grasslands/16x3/animations/SavePoint2.png
Sprites/Tileset Sprites/Grasslands/16x3/animations/SavePoint2.png.import
Sprites/Tileset Sprites/Grasslands/16x3/animations/Stars.png
Sprites/Tileset Sprites/Grasslands/16x3/animations/Stars.png.import
Sprites/Tileset Sprites/Grasslands/16x3/animations/Sword02.png
Sprites/Tileset Sprites/Grasslands/16x3/animations/Sword02.png.import
Sprites/Tileset Sprites/Grasslands/16x3/animations/Waterfall.png
Sprites/Tileset Sprites/Grasslands/16x3/animations/Waterfall.png.import
Sprites/Tileset Sprites/Grasslands/16x3/battlebacks1/BattleBackground02.png
Sprites/Tileset Sprites/Grasslands/16x3/battlebacks1/BattleBackground02.png.import
Sprites/Tileset Sprites/Grasslands/16x3/characters/$CanYouPetTheDog.png
Sprites/Tileset Sprites/Grasslands/16x3/characters/$CanYouPetTheDog.png.import
Sprites/Tileset Sprites/Grasslands/16x3/characters/$Chest01.png
Sprites/Tileset Sprites/Grasslands/16x3/characters/$Chest01.png.import
Sprites/Tileset Sprites/Grasslands/16x3/characters/$Dog.png
Sprites/Tileset Sprites/Grasslands/16x3/characters/$Dog.png.import
Sprites/Tileset Sprites/Grasslands/16x3/characters/$Horse01.png
Sprites/Tileset Sprites/Grasslands/16x3/characters/$Horse01.png.import
Sprites/Tileset Sprites/Grasslands/16x3/characters/$Panneau.png
Sprites/Tileset Sprites/Grasslands/16x3/characters/$Panneau.png.import
Sprites/Tileset Sprites/Grasslands/16x3/characters/$Seller.png
Sprites/Tileset Sprites/Grasslands/16x3/characters/$Seller.png.import
Sprites/Tileset Sprites/Grasslands/16x3/characters/$Teleport.png
Sprites/Tileset Sprites/Grasslands/16x3/characters/$Teleport.png.import
Sprites/Tileset Sprites/Grasslands/16x3/characters/Desire+(4).png
Sprites/Tileset Sprites/Grasslands/16x3/characters/Desire+(4).png.import
Sprites/Tileset Sprites/Grasslands/16x3/characters/MonsterChara01+(4).png
Sprites/Tileset Sprites/Grasslands/16x3/characters/MonsterChara01+(4).png.import
Sprites/Tileset Sprites/Grasslands/16x3/characters/MonsterChara02+(4).png
Sprites/Tileset Sprites/Grasslands/16x3/characters/MonsterChara02+(4).png.import
Sprites/Tileset Sprites/Grasslands/16x3/characters/Rabbit01+(3).png
Sprites/Tileset Sprites/Grasslands/16x3/characters/Rabbit01+(3).png.import
Sprites/Tileset Sprites/Grasslands/16x3/faces/FacesetActor01.png
Sprites/Tileset Sprites/Grasslands/16x3/faces/FacesetActor01.png.import
Sprites/Tileset Sprites/Grasslands/16x3/GrasslandsHugeProps.png
Sprites/Tileset Sprites/Grasslands/16x3/GrasslandsHugeProps.png.import
Sprites/Tileset Sprites/Grasslands/16x3/GrasslandsProps.png
Sprites/Tileset Sprites/Grasslands/16x3/GrasslandsProps.png.import
Sprites/Tileset Sprites/Grasslands/16x3/GrasslandsTextures.png
Sprites/Tileset Sprites/Grasslands/16x3/GrasslandsTextures.png.import
Sprites/Tileset Sprites/Grasslands/16x3/Grid.png
Sprites/Tileset Sprites/Grasslands/16x3/Grid.png.import
Sprites/Tileset Sprites/Grasslands/16x3/layers/BattleBackground02Fog01.png
Sprites/Tileset Sprites/Grasslands/16x3/layers/BattleBackground02Fog01.png.import
Sprites/Tileset Sprites/Grasslands/16x3/layers/BattleBackground02Fog02.png
Sprites/Tileset Sprites/Grasslands/16x3/layers/BattleBackground02Fog02.png.import
Sprites/Tileset Sprites/Grasslands/16x3/layers/Map.png
Sprites/Tileset Sprites/Grasslands/16x3/layers/Map.png.import
Sprites/Tileset Sprites/Grasslands/16x3/layers/MapH.png
Sprites/Tileset Sprites/Grasslands/16x3/layers/MapH.png.import
Sprites/Tileset Sprites/Grasslands/16x3/layers/MapW.png
Sprites/Tileset Sprites/Grasslands/16x3/layers/MapW.png.import
Sprites/Tileset Sprites/Grasslands/16x3/pictures/FacesetActor01_2.png
Sprites/Tileset Sprites/Grasslands/16x3/pictures/FacesetActor01_2.png.import
Sprites/Tileset Sprites/Grasslands/16x3/pictures/FacesetSeller.png
Sprites/Tileset Sprites/Grasslands/16x3/pictures/FacesetSeller.png.import
Sprites/Tileset Sprites/Grasslands/16x3/sv_actors/BattlerDesire+\[28,15,1,0,false\].png
Sprites/Tileset Sprites/Grasslands/16x3/sv_actors/BattlerDesire+\[28,15,1,0,false\].png.import
Sprites/Tileset Sprites/Grasslands/16x3/sv_enemies/MonsterBlob01+\[4,1,1,0,false\].png
Sprites/Tileset Sprites/Grasslands/16x3/sv_enemies/MonsterBlob01+\[4,1,1,0,false\].png.import
Sprites/Tileset Sprites/Grasslands/16x3/sv_enemies/MonsterBlob02+\[4,1,1,0,false\].png
Sprites/Tileset Sprites/Grasslands/16x3/sv_enemies/MonsterBlob02+\[4,1,1,0,false\].png.import
Sprites/Tileset Sprites/Grasslands/16x3/sv_enemies/MonsterCrow01+\[4,1,1,0,false\].png
Sprites/Tileset Sprites/Grasslands/16x3/sv_enemies/MonsterCrow01+\[4,1,1,0,false\].png.import
Sprites/Tileset Sprites/Grasslands/16x3/system/Damage.png
Sprites/Tileset Sprites/Grasslands/16x3/system/Damage.png.import
Sprites/Tileset Sprites/Grasslands/16x3/system/IconSet.png
Sprites/Tileset Sprites/Grasslands/16x3/system/IconSet.png.import
Sprites/Tileset Sprites/Grasslands/16x3/system/Loading.png
Sprites/Tileset Sprites/Grasslands/16x3/system/Loading.png.import
Sprites/Tileset Sprites/Grasslands/16x3/system/Weapon01.png
Sprites/Tileset Sprites/Grasslands/16x3/system/Weapon01.png.import
Sprites/Tileset Sprites/Grasslands/16x3/system/Weapon02.png
Sprites/Tileset Sprites/Grasslands/16x3/system/Weapon02.png.import
Sprites/Tileset Sprites/Grasslands/16x3/system/Window.png
Sprites/Tileset Sprites/Grasslands/16x3/system/Window.png.import
Sprites/Tileset Sprites/Grasslands/16x3/system/WindowArrow.png
Sprites/Tileset Sprites/Grasslands/16x3/system/WindowArrow.png.import
Sprites/Tileset Sprites/Grasslands/16x3/tilesets/ParallaxTiles.png
Sprites/Tileset Sprites/Grasslands/16x3/tilesets/ParallaxTiles.png.import
